div#bio {
    border: solid black;
    border-radius: 10px;
    border-width: 2px;
    -moz-box-shadow: 5px 5px 5px 5px #777777;
    -webkit-box-shadow: 5px 5px 5px 5px #777777;
    padding: 4px;
    overflow: auto;
    
}
span.eName {
    //float: left;
    display: block;
    font-weight: bold;
    clear: left
}

img {
    //float: left;
    display: block;
    //margin-top: 30px;
    height: 150px;
    
}

span.title {
    font-weight: bold;
    display: block;
    //float: left;
}

span.department {
    //float: left;
    display: block
}

div.general {width: 160px;
overflow: auto;
float: left;}
