

table, th, td {border: 3px solid black;}

table {border-color: green}

table {width: 50%;}

th { height: 100px;}

th {text-align: center;}

th, td { padding: 15px;}

th, td {border-bottom: 3px solid black;}

table {background-color: darkseagreen}

table {color: navy}

